<div class="contenedord">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre del evento</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let bole of boletas'>
        <td>{{bole.nombre_evento}}</td>
        <td>{{bole.nombre_completo}}</td>
        <td><button type="button" class="botona" routerLink="/mostrarboleta/{{bole.id_boleta}}" routerLinkActive="active">VER DETALLES</button></td>
      </tr>
    </tbody>
  </table>
</div>
